.About-Container {
  height: 100%;
  width: 100%;
  background-color: green;

  display: flex;
  flex-direction: row-reverse;
}

.Right-Container {
  width: 50%;
  background-color: var(--blue);

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.Text-Container {
  display: flex;
  flex-direction: column;
  justify-content: center;

  background-color: var(--orange);

  width: 70%;
  height: 70%;

  border-radius: 20px;

  /* animation: slideInRight 2s ease 0s both; */
}

.AboutImage-Container {
  background-color: var(--blue);
  width: 50%;
}

#About-Text {
  margin-left: 5%;
  margin-right: 5%;
}
